<!DOCTYPE html>
<html>
  <head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h3>Hi <%=email%></h3>
    <p>
      Go to <a href="<%=host%>/change-password/<%=link%>">this link</a> to
      verify your account
    </p>
  </body>
</html>
