<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Booking Id: <%=bookingRequestId%></h1>
    <h3><Welcome <%=firstname%>!!</h3>
    <p>Hi <%=firstname%> <%=lastname%></p>

  </body>
</html>
